<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <form method="post" action="/login">
        <h1>Log In now</h1>
      <label for="email">Email</label><br>
      <input type="email" id="fname" name="email" placeholder="Your email.." ><br>
  
      <label for="password">password</label><br>
      <input type="password" id="lname" name="password" placeholder="password" style="width: 100%;">
      <p class="incorrect"><%= locals.message %></p>
      <br>
      <input type="submit" value="log In" style="margin: 20px;">
    </form>
  </body>
</html>
